In [164]:
# Data Analysis Phase
# Main aim is understand the more about the data

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import sweetviz as sv
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler,OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

In [93]:
df_train = pd.read_csv('../../Datasets/Automobile_data.csv')

## Display all the columns of the dataframe
# pd.pandas.set_option('display.max_columns',None)

In [94]:
df_train.shape

(205, 26)

In [95]:
df_train.tail()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [96]:
df_train['make'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [97]:
df_train.isnull()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
201,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
202,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
203,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
204,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [98]:
df_train.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [99]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [100]:
df_train.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

# First Replace ? into Nan value

In [101]:
df_train['fuel-type'].value_counts()

gas       185
diesel     20
Name: fuel-type, dtype: int64

In [102]:
df_train['aspiration'].value_counts()

std      168
turbo     37
Name: aspiration, dtype: int64

In [103]:
df_train['num-of-doors'].unique()

array(['two', 'four', '?'], dtype=object)

In [104]:
df_train['num-of-doors'].replace('?', np.nan,inplace=True)

In [105]:
df_train['body-style'].value_counts()

sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: body-style, dtype: int64

In [106]:
df_train['drive-wheels'].value_counts()

fwd    120
rwd     76
4wd      9
Name: drive-wheels, dtype: int64

In [107]:
df_train['engine-location'].value_counts()

front    202
rear       3
Name: engine-location, dtype: int64

In [108]:
df_train['bore'].unique()

array(['3.47', '2.68', '3.19', '3.13', '3.5', '3.31', '3.62', '2.91',
       '3.03', '2.97', '3.34', '3.6', '2.92', '3.15', '3.43', '3.63',
       '3.54', '3.08', '?', '3.39', '3.76', '3.58', '3.46', '3.8', '3.78',
       '3.17', '3.35', '3.59', '2.99', '3.33', '3.7', '3.61', '3.94',
       '3.74', '2.54', '3.05', '3.27', '3.24', '3.01'], dtype=object)

In [109]:
df_train['bore'].replace('?', np.nan,inplace=True)

In [110]:
df_train['horsepower'].unique()

array(['111', '154', '102', '115', '110', '140', '160', '101', '121',
       '182', '48', '70', '68', '88', '145', '58', '76', '60', '86',
       '100', '78', '90', '176', '262', '135', '84', '64', '120', '72',
       '123', '155', '184', '175', '116', '69', '55', '97', '152', '200',
       '95', '142', '143', '207', '288', '?', '73', '82', '94', '62',
       '56', '112', '92', '161', '156', '52', '85', '114', '162', '134',
       '106'], dtype=object)

In [111]:
df_train['peak-rpm'].unique()

array(['5000', '5500', '5800', '4250', '5400', '5100', '4800', '6000',
       '4750', '4650', '4200', '4350', '4500', '5200', '4150', '5600',
       '5900', '5750', '?', '5250', '4900', '4400', '6600', '5300'],
      dtype=object)

In [114]:
df_train['price'].unique()

array(['13495', '16500', '13950', '17450', '15250', '17710', '18920',
       '23875', nan, '16430', '16925', '20970', '21105', '24565', '30760',
       '41315', '36880', '5151', '6295', '6575', '5572', '6377', '7957',
       '6229', '6692', '7609', '8558', '8921', '12964', '6479', '6855',
       '5399', '6529', '7129', '7295', '7895', '9095', '8845', '10295',
       '12945', '10345', '6785', '11048', '32250', '35550', '36000',
       '5195', '6095', '6795', '6695', '7395', '10945', '11845', '13645',
       '15645', '8495', '10595', '10245', '10795', '11245', '18280',
       '18344', '25552', '28248', '28176', '31600', '34184', '35056',
       '40960', '45400', '16503', '5389', '6189', '6669', '7689', '9959',
       '8499', '12629', '14869', '14489', '6989', '8189', '9279', '5499',
       '7099', '6649', '6849', '7349', '7299', '7799', '7499', '7999',
       '8249', '8949', '9549', '13499', '14399', '17199', '19699',
       '18399', '11900', '13200', '12440', '13860', '15580', '16900',
       '16695', '17075', '16630', '17950', '18150', '12764', '22018',
       '32528', '34028', '37028', '9295', '9895', '11850', '12170',
       '15040', '15510', '18620', '5118', '7053', '7603', '7126', '7775',
       '9960', '9233', '11259', '7463', '10198', '8013', '11694', '5348',
       '6338', '6488', '6918', '7898', '8778', '6938', '7198', '7788',
       '7738', '8358', '9258', '8058', '8238', '9298', '9538', '8449',
       '9639', '9989', '11199', '11549', '17669', '8948', '10698', '9988',
       '10898', '11248', '16558', '15998', '15690', '15750', '7975',
       '7995', '8195', '9495', '9995', '11595', '9980', '13295', '13845',
       '12290', '12940', '13415', '15985', '16515', '18420', '18950',
       '16845', '19045', '21485', '22470', '22625'], dtype=object)

In [113]:
df_train['price'].replace('?', np.nan,inplace=True)

# Drop Na Values Specific Columns

In [115]:
df_train = df_train.dropna(subset=['normalized-losses', 'num-of-doors','bore','horsepower','peak-rpm','price'])

In [116]:
df_train.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

# Change data type into integer

In [117]:
df_train['price'] = df_train['price'].astype(int)

In [118]:
df_train['price']

0      13495
1      16500
2      16500
3      13950
4      17450
       ...
200    16845
201    19045
202    21485
203    22470
204    22625
Name: price, Length: 195, dtype: int32

In [ ]:
df_train['price'].fillna(df_train['price'].mode(),inplace=True)

In [125]:
df_train.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [124]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          195 non-null    int64
 1   normalized-losses  195 non-null    object
 2   make               195 non-null    object
 3   fuel-type          195 non-null    object
 4   aspiration         195 non-null    object
 5   num-of-doors       195 non-null    object
 6   body-style         195 non-null    object
 7   drive-wheels       195 non-null    object
 8   engine-location    195 non-null    object
 9   wheel-base         195 non-null    float64
 10  length             195 non-null    float64
 11  width              195 non-null    float64
 12  height             195 non-null    float64
 13  curb-weight        195 non-null    int64
 14  engine-type        195 non-null    object
 15  num-of-cylinders   195 non-null    object
 16  engine-size        195 non-null    int64
 17  fuel-system        195 non-null    object
 18  bore               195 non-null    object
 19  stroke             195 non-null    object
 20  compression-ratio  195 non-null    float64
 21  horsepower         195 non-null    object
 22  peak-rpm           195 non-null    object
 23  city-mpg           195 non-null    int64
 24  highway-mpg        195 non-null    int64
 25  price              195 non-null    int32
dtypes: float64(5), int32(1), int64(5), object(15)
memory usage: 40.4+ KB

In [59]:
my_report = sv.analyze(df_train)
my_report.show_html()

                                             |                                             | [  0%]   00:00 ->â€¦

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [150]:
X = df_train.drop('price',axis=1)
y = df_train['price']

In [151]:
y.shape

(195,)

In [152]:
from sklearn.model_selection import train_test_split

In [153]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=13)

In [154]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((156, 25), (39, 25), (156,), (39,))

In [155]:
num_col = list(df_train.select_dtypes(exclude='object').columns)

In [156]:
num_col

['symboling',
 'wheel-base',
 'length',
 'width',
 'height',
 'curb-weight',
 'engine-size',
 'compression-ratio',
 'city-mpg',
 'highway-mpg',
 'price']

In [157]:
len(num_col)

11

In [158]:
num_col.remove('symboling')
num_col.remove('height')
num_col.remove('compression-ratio')
num_col.remove('price')

In [159]:
cate_col = list(df_train.select_dtypes(include='object').columns)

In [160]:
len(cate_col)

15

In [161]:
cate_col

['normalized-losses',
 'make',
 'fuel-type',
 'aspiration',
 'num-of-doors',
 'body-style',
 'drive-wheels',
 'engine-location',
 'engine-type',
 'num-of-cylinders',
 'fuel-system',
 'bore',
 'stroke',
 'horsepower',
 'peak-rpm']

In [162]:
cate_col.remove('fuel-type')
cate_col.remove('num-of-doors')
cate_col.remove('aspiration')
# cate_col.remove('num-of-doors')
cate_col.remove('body-style')
# cate_col.remove('body-style')

In [163]:
cate_col

['normalized-losses',
 'make',
 'drive-wheels',
 'engine-location',
 'engine-type',
 'num-of-cylinders',
 'fuel-system',
 'bore',
 'stroke',
 'horsepower',
 'peak-rpm']

In [175]:
num_transformer = Pipeline([('impu_num',SimpleImputer(strategy='median')),
                           ('scaler',MinMaxScaler())])
cate_transformer = Pipeline([('cate_num',SimpleImputer(strategy='most_frequent')),
                           ('encoder',OneHotEncoder(handle_unknown='ignore'))])

In [176]:
preprocessor = ColumnTransformer([('num_pipe',num_transformer,num_col),
                                 ('cat_pipe',cate_transformer,cate_col)])

# Using Linear regression

In [177]:
from sklearn.linear_model import LinearRegression

In [178]:
final_pipe = Pipeline([('preprocessor_pipe',preprocessor),
                      ('model',LinearRegression())])

In [179]:
final_pipe.fit(X_train,y_train)

Pipeline(steps=[('preprocessor_pipe',
                 ColumnTransformer(transformers=[('num_pipe',
                                                  Pipeline(steps=[('impu_num',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('scaler',
                                                                   MinMaxScaler())]),
                                                  ['wheel-base', 'length',
                                                   'width', 'curb-weight',
                                                   'engine-size', 'city-mpg',
                                                   'highway-mpg']),
                                                 ('cat_pipe',
                                                  Pipeline(steps=[('cate_num',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('encoder',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['normalized-losses', 'make',
                                                   'drive-wheels',
                                                   'engine-location',
                                                   'engine-type',
                                                   'num-of-cylinders',
                                                   'fuel-system', 'bore',
                                                   'stroke', 'horsepower',
                                                   'peak-rpm'])])),
                ('model', LinearRegression())])

In [180]:
final_pipe.score(X_train,y_train)

0.9946367750909945

In [181]:
final_pipe.predict(X_test)

array([ 8680.69638064, 20702.05936827, 18591.24250193,  7355.46217261,
       15660.32807223,  6334.67491616, -1210.34784898, 46574.34768179,
        7359.1195529 , 15729.28018899, 10669.0088108 , 13935.41039222,
        6812.85818088, 18066.14031691, 17247.16034782, 10168.27884028,
       15329.89739426, 17242.05251561,  8992.01728898, 24098.86467463,
        7089.93450474, 33953.26172644, 18534.52556825,  7556.29328414,
       10665.07225495, 19973.04602966, 16430.00928938, -1709.55488462,
       13959.15441339, 26030.32908523, -2643.75157459,  7083.61511822,
       33724.82878043,  9015.35192292,  -143.37501837,  7799.49671257,
       13166.71098186, 10196.34601611,  5939.73491026])

In [182]:
final_pipe.score(X_test,y_test)

0.7937647171911334

# Using Random Forester

In [183]:
from sklearn.ensemble import RandomForestRegressor

In [184]:
final_pipe = Pipeline([('preprocessor_pipe',preprocessor),
                      ('model',RandomForestRegressor(n_estimators=100,random_state=0))])

In [185]:
final_pipe.fit(X_train,y_train)

Pipeline(steps=[('preprocessor_pipe',
                 ColumnTransformer(transformers=[('num_pipe',
                                                  Pipeline(steps=[('impu_num',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('scaler',
                                                                   MinMaxScaler())]),
                                                  ['wheel-base', 'length',
                                                   'width', 'curb-weight',
                                                   'engine-size', 'city-mpg',
                                                   'highway-mpg']),
                                                 ('cat_pipe',
                                                  Pipeline(steps=[('cate_num',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('encoder',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['normalized-losses', 'make',
                                                   'drive-wheels',
                                                   'engine-location',
                                                   'engine-type',
                                                   'num-of-cylinders',
                                                   'fuel-system', 'bore',
                                                   'stroke', 'horsepower',
                                                   'peak-rpm'])])),
                ('model', RandomForestRegressor(random_state=0))])

In [186]:
final_pipe.score(X_train,y_train)

0.9883155475613732

In [187]:
final_pipe.predict(X_test)

array([ 9463.11666667, 19788.88      , 13629.40666667,  7135.338     ,
       17159.06      ,  6099.84      ,  7018.9675    , 41387.1       ,
        8540.93      , 12728.62      , 10082.67333333, 15004.23      ,
        6922.84733333, 17698.9       , 15759.86      ,  9612.95666667,
       15867.03      , 15742.03      ,  9630.03333333, 18563.84      ,
        7153.195     , 32481.95      , 15338.475     ,  8600.27      ,
        9966.745     , 17157.7       , 14227.18833333,  7296.7225    ,
        7332.86133333, 17285.22      ,  7129.48416667,  7124.95      ,
       31906.53      , 10025.225     ,  7201.15666667,  7724.7825    ,
       14461.15      , 14172.77      ,  6479.77      ])

In [188]:
final_pipe.score(X_test,y_test)

0.917982591787161